<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AlliedWMSPortalTV">

	
	<test name="AlliedWMSPortalTV-Chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			  <class name="com.wmsportalvt.testCases.TC1_ValidateUptime"/>
			  <class name="com.wmsportalvt.testCases.TC2_ValidateSecurity"/>
			  <class name="com.wmsportalvt.testCases.TC3_ValidateLogin"/>
			  <class name="com.wmsportalvt.testCases.TC4_ValidateLogout"/>
			  <class name="com.wmsportalvt.testCases.TC5_ValidateInventoryPageNavigation"/>	
			  <class name="com.wmsportalvt.testCases.TC6_ValidateOrderPageNavigation"/>	
			  <class name="com.wmsportalvt.testCases.TC7_ValidateAdminPageNavigation"/>			
		</classes>
		
	</test>

    

</suite>


